replicaCount: 1

image:
  repository: estaghni        # ton image locale
  tag: latest
  pullPolicy: IfNotPresent   # très important pour Minikube

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false  # on fera l’HTTPS plus tard avec Ingress si besoin

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: []
