apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "k8s-mainfest.fullname" . }}
  labels:
    app: {{ include "k8s-mainfest.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "k8s-mainfest.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "k8s-mainfest.name" . }}
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: certs
              mountPath: /app/certs
              readOnly: true
      volumes:
        - name: certs
          emptyDir: {}
